include _common.pug

+head

-
    var util = require('util');
    var path = require('path');
    var waifu = require('../../waifu.json');
    var first = waifu.data.images[0];
    var waifu = waifu.data.images.slice(1);
    waifu.push(first);

body.main
    +nav("Gallery")

    main.page-content.im-g
        header(style="margin-bottom: .5em")="This is a catalog of adorable girls.These are the one I shall remember forever..."
        for item, idx in waifu
            - var cur_idx = idx + 1;
            - var prev_idx = cur_idx === waifu.length ? waifu.length - 1 : cur_idx - 1;
            - var next_idx = cur_idx === waifu.length ? 1 :  cur_idx === (waifu.length - 1) ? "" : cur_idx + 1;
            - var link = item.link.startsWith('https') ? item.link : item.link.replace('http', 'https');
            - var style_inner = util.format("background-image: url('%s')", link);
            - var div_page_class = cur_idx  === waifu.length ? "default target-sub-page target-sub-page--flex" : "target-sub-page target-sub-page--flex";
            div(id=cur_idx class=div_page_class)
                a.im-g__nav(href="#" + prev_idx)="«"
                div.im-g__wrap
                    div.bk-image.im-g__wrap__img(style=style_inner)
                    div.im-g__wrap__desc
                        p.im-g__wrap__desc__h=item.title
                        p.im-g__wrap__desc__d=item.description ? item.description : ""
                a.im-g__nav(href="#" + next_idx)="»"


