include _head.jade

-
    var util = require('util');
    var path = require('path');
    var goodies = require(path.join(root_dir, "data", "goodies.json"));


body(class="site")
    nav(class="site center")
        div(class="sub")
            a(href="#")="Home"
        div(class="sub")
            a(class="hidden_parent" href="#Goodies")="Goodies"
            ul(class="hidden sub_nav")
                each goodie in goodies
                    - var link = "#Goodies_" + goodie.id
                    li
                        a(href=link)=goodie.name
        div(class="sub")
            a(href="#Waifu")="Waifu"
        div(class="sub")
            a(href="#Contact")="Contact"
        div(class="sub")
            a(href="cv.html")="CV"

    div(class="sub_page flex goodies" id="Goodies" page_title="My Goodies")
        each goodie in goodies
            - var link = "#Goodies_" + goodie.id
            - var background_image = util.format("background-image: url('%s')", goodie.img)
            a(class="sub_link" href=link title=goodie.title style=background_image)

    each goodie in goodies
        - var id = "Goodies_" + goodie.id
        div(class="sub_page flex goodies" id=id page_title=goodie.title)
            each goodie_data in goodie.data
                a(class="goodie_link" href=goodie_data.link target="_blank")
                    p(class="title")=goodie_data.name
                    p=goodie_data.description

    div(class="sub_page" id="Waifu")
        iframe(src="waifu.html")

    div(class="page_title center sub_page" id="Contact" page_title="Contact me")
        p="Wanna get in touch with great me?"
        p="Here you go:"
        div(class="contact_links")
            a(title="douman@gmx.se" href="mailto:douman@gmx.se" style="background-image: url('img/close-envelope.svg')")
            a(title="Skype: coldgloom", href="skype:coldgloom?call", target="_blank" style="background-image: url('img/skype.svg')")
            a(href="https://github.com/DoumanAsh", target="_blank" style="background-image: url('img/github-logo.svg')")

    div(class="default center sub_page page_title" page_title="Welcome")
        div(class="welcome")
            div(class="img", style="width: 350px; height: 385px; background-image: url('img/av.jpg')")
            div(class="par")
                p="I'm glorious, magnificent and lazy fella."
                p="Things I love are: games, coding, cute girls, simple stuff and being lazy."
                p="Things I hate are: boredom, idiots, complex stuff and not-optimized work."
