include _head.jade

-
    var util = require('util');
    var path = require('path');
    var goodies = require(path.join(root_dir, "data", "goodies.json"));


body(class="site")
    nav(class="site center")
        div(class="sub")
            a(href="#")="Home"
        div(class="sub")
            a(class="hidden_parent" href="#Goodies")="Goodies"
            ul(class="hidden sub_nav")
                li
                    a(href="#Goodies_Rust")="Rust"
                li
                    a(href="#Goodies_Tools")="Tools"
                li
                    a(href="#Goodies_Stories")="Writings"
                li
                    a(href="#Goodies_Node")="Node"
        div(class="sub")
            a(href="#Waifu")="Waifu"
        div(class="sub")
            a(href="#Contact")="Contact"
        div(class="sub")
            a(href="cv.html")="CV"

    div(class="sub_page flex goodies" id="Goodies" page_title="My Goodies")
        a(class="sub_link" href="#Goodies_Rust" title="My Rust code" style="background-image: url('img/rust.svg'")
        a(class="sub_link" href="#Goodies_Tools" title="My Tools" style="background-image: url('img/tools.svg'")
        a(class="sub_link" href="#Goodies_Stories" title="My Writings" style="background-image: url('img/book.svg'")
        a(class="sub_link" href="#Goodies_Node" title="My Node.js code" style="background-image: url('img/node.svg'")

    div(class="sub_page flex goodies" id="Goodies_Rust" page_title="My Rust Code")
        each goodie in goodies.rust
            a(class="goodie_link" href=goodie.link target="_blank")
                p(class="title")=goodie.name
                p=goodie.description

    div(class="sub_page flex goodies" id="Goodies_Tools" page_title="My Tools")
        each goodie in goodies.tools
            a(class="goodie_link" href=goodie.link target="_blank")
                p(class="title")=goodie.name
                p=goodie.description

    div(class="sub_page flex goodies" id="Goodies_Stories" page_title="My Stories")
        each goodie in goodies.stories
            a(class="goodie_link" href=goodie.link target="_blank")
                p(class="title")=goodie.name
                p=goodie.description

    div(class="sub_page flex goodies" id="Goodies_Node" page_title="My Node.js code")
        each goodie in goodies.node
            a(class="goodie_link" href=goodie.link target="_blank")
                p(class="title")=goodie.name
                p=goodie.description

    div(class="sub_page" id="Waifu")
        iframe(src="waifu.html")
    div(class="page_title center sub_page" id="Contact" page_title="Contact me")
        p="Wanna get in touch with great me?"
        p="Here you go:"
        div(class="contact_links")
            a(title="douman@gmx.se" href="mailto:douman@gmx.se" style="background-image: url('img/close-envelope.png'")
            a(title="Skype: coldgloom", href="skype:coldgloom?call", target="_blank" style="background-image: url('img/skype.png'")
            a(href="https://github.com/DoumanAsh", target="_blank" style="background-image: url('img/github-logo.svg'")

    div(class="default center sub_page page_title" page_title="Welcome")
        div(class="welcome")
            div
                img(src="img/av.png")
            div(class="par")
                p="I'm glorious, magnificent and lazy fella."
                p="Things I love are: games, coding, cute girls, simple stuff and being lazy."
                p="Things I hate are: boredom, idiots, complex stuff and not-optimized work."
