- var title = "Douman's Waifu Gallery";
include _head.jade

- var util = require('util');
- var path = require('path');
- var waifu = require(path.join(root_dir, 'waifu.json'));
- var first = waifu.data.images[0];
- var waifu = waifu.data.images.slice(1);
- waifu.push(first);

body()
    div(class="gallery" id="Waifu")
        h1(class="center")="My Waifu Gallery"
        for item, idx in waifu
            - var cur_idx = idx + 1;
            - var prev_idx = cur_idx === waifu.length ? "" : cur_idx - 1;
            - var next_idx = cur_idx === waifu.length ? 1 :  cur_idx === (waifu.length - 1) ? cur_idx : cur_idx + 1;
            - var link = item.link.replace('http', 'https');
            - var style_inner = util.format("background-image: url('%s')", link);
            - var div_page_class = cur_idx  === waifu.length ? "default sub_page flex" : "sub_page flex";
            div(id=cur_idx class=div_page_class)
                a(href="#" + prev_idx)="«"
                div(class="current")
                    div(class="img" style=style_inner)
                    div(class="description")
                        p(class="title")=item.title
                        p(class="details")=item.description ? item.description : ""
                a(href="#" + next_idx)="»"


